:root {
    --sidebar-width: 180px;
    --header-height: 80px;
    --color-5: #1a192c;
    --color-45: #25243f;
    --color-4: #40445b;
    --color-3: #9a8c98;
    --color-2: #c9ada7;
    --color-1: #f2e9e4;
    --color-6: #F0FFFF;
}