<div id="header">
    <h1>CS235 Game Library</h1>

    {% if not session['username'] %}
        <div class="profile">
            <a href="{{ url_for('authentication.login') }}" class="login-button">Login</a>
            <a href="{{ url_for('authentication.register') }}" class="register-button">Register</a>
        </div>
    {% endif %}

    <div class="profile">
        {% if session['username'] %}
            <a href="{{ url_for('authentication.logout') }}">Logout</a>
        {% endif %}
    </div>

    <div class="profile">
        {% if session['username'] %}
            <a href="{{ url_for('profile.logged_in_user_profile') }}">Profile</a>
        {% endif %}
    </div>
</div>
